body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}
html {
  scroll-behavior: smooth;
}
header {
  background-color: #fb923c;
  color: white;
  padding: 5px 5px;
  text-align: center;
}
.product {
  background-color: white;
  border-radius: 5px;
  padding: 15px;
  margin: 15px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
#logo {
  max-width: 150px;
  height: auto;
}
.product img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}
footer {
  background-color: #666;
  color: white;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  bottom: 0;
}
h1 {
  margin: 0 0 10px 0;
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 420px;
  width: 350px;
  border-radius: 5px;
  background-color: #212529;
  box-shadow: 0px 0px 6px 2px #666;
  color: whitesmoke;
}
.modal-inner {
  width: 290px;
  margin: 0 auto;
}

.modal-inner-loading {
  text-align: center;
}

.close-modal-btn-container {
  text-align: right;
  margin: 9px;
}

.modal-close-btn {
  font-size: 22px;
  font-weight: bold;
  background-color: transparent;
  border: 1px solid transparent;
  color: whitesmoke;
}

.modal-close-btn:hover,
.modal-close-btn:active {
  color: red;
  cursor: pointer;
}

.modal-close-btn:disabled {
  color: whitesmoke;
  opacity: 0.2;
  cursor: not-allowed;
}

.modal-choice-btns {
  margin-top: 10px;
  padding: 8px 16px;
  display: flex;
  justify-content: center;
}

.modal-btn {
  padding: 10px 24px;
  cursor: pointer;
}

input {
  margin-top: 10px;
  border: 1px solid #212529;
  padding: 10px;
  width: 100%;
  border-radius: 3px;
}

.loading {
  width: 100%;
  margin-top: 10px;
}

.modal-display-name {
  color: fuchsia;
}

.modal-text {
  height: 140px;
  line-height: 23px;
  margin-bottom: 0;
}
